.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #0f62fe;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

.navLink {
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
}

.navLink:hover {
    box-shadow: 0 0 0 1px #fff;
}