.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #0f62fe;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    box-shadow: 0 0 12px #0f62fe;
}

.searchPanel {
    background-image: url('../../image-svg/PinClipart.com_solution-clip-art_919100.png');
    background-position: 2px;
    background-size: 17px 17px;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.searchPanel[type=text] {
    padding-left: 23px;
}

.navLink {
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
}

.navLink:hover {
    box-shadow: 0 0 0 1px #fff;
}